.container
  %h3 Лебединое Озеро
  = image_tag ("/assets/swan-5-2d178c8f6e13ece2abf683655fcb944e6e8f6370cd322e0b519a4f02e1ef2f15.jpg")
  %p
  = image_tag ("/assets/swan-6-d47132fc38626daa8b069d2d1de51a8bc573ba7f4c7eb2310c2032a0233debc9.jpg")
  %p
  = image_tag ("/assets/swan-2-09f915c5bb26a1f06696b675fac13123af01c5aef53831f1880ea7246cec8408.jpg")
  %p
  = image_tag ("/assets/swan-3-bf51c5fc7619cae6e93b464a49de8aa7e3601de8af3e014a0360f5dc9fc2324f.jpg")
  %p
  = image_tag ("/assets/swan-4-7342d7300d0ef32cd05e6084ff206fb211a596413435be0c954fd32efe86e8ee.jpg")
  %p
  = image_tag ("/assets/swan-7-e64ca50f4f3af8aa208ed91ba0b78068a5f4b738c6e67f5c8e767462eeae8756.jpg")
  %p
  = image_tag ("/assets/swan-8-5466bc1a54148f6c52db4301c18be9a4e373617578fc17e5352263f0f2fa8683.jpg")
  %p
  = image_tag ("/assets/swan-9-fdb67926fe99e6317ee56f50f736184bcf6c586627ecfb8986f3711c092da287.jpg")
  %p
  = image_tag ("/assets/swan-10-718f7024f46f302313b1c5f5f7e73f9d5f818dfaa17215d3f01ee614e9e2503a.jpg")
  %p

