.container
  = image_tag("swan-lake-v2")
  %h4
    %br/
    Мы рады приветствовать Вас на официальном сайте Театра Классического Балета. Здесь Вы узнаете последние новости театра, отклики в прессе, информацию о нашем коллективе и многое другое
  %br/
  .row
    .span4
      #myCarousel.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
        .carousel-inner{:role => "listbox"}
          .item.active
            = image_tag("event1")
          .item
            = image_tag("event2")
          .item
            = image_tag("event3")
          .item
            = image_tag("event4")

        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    .span8
      %h3 Афиши наших представлений
      %p
        В Одесском Национальном Академическком Теартре Оперы и Балета неоднократно проходили представления "Лебединое Озеро" и « Щелкунчика».
        Также состоялась премьера модерн балета «Ромео и Джульетта».
        Выступив в качестве продюсера Трощенко В.Н. были приглашены звезды итальянской оперы Джина Ианни, Франческо Паккорини, которые исполнили самые любимые всеми арии.
    %br/
  .row
    .span6
      %h3 Сотрудничество с Moscow Ballet
      %p
        Наша труппа удачно провела совместный проэкт показа предрождественского "Щелкунчика" в блольшом туре с компанией
        %a{:href => "http://nutcracker.com"} Moscow Ballet
        по восточному побережью США.
    .span6
      = image_tag("usa_nutcracker.jpg")
  %br/

