<!DOCTYPE html>
<html>
  <head>
    <title>Театр Классического Балета</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
		<div class="navbar">
			<div class="container">
				<%= link_to image_tag("ballet-logo"), root_path, id: "logo" %>
					<ul class="nav">
						<li><%= link_to "Главная", root_path %></li>
						<li><%= link_to "История труппы", troup_history_path %></li>
						<li><%= link_to "Фото", galery_path %></li>
						<li><%= link_to "Видео", video_path %></li>
						<li><%= link_to "История балета", history_path %></li>
						<li><%= link_to "Партнеры", partners_path %></li>
						<li><%= link_to "Контакты", contacts_path %></li>
					</ul>
			</div>
		</div>
	<%= yield %>
	<div class="container footer" >
		<div class="row">
			<div class="span3"></div>
				<div class="span4">			
					<ul class="nav">
						<li><%= link_to "Главная", root_path %></li>
						<li><%= link_to "История труппы", troup_history_path %></li>
						<li><%= link_to "Фото", galery_path %></li>
						<li><%= link_to "Видео", video_path %></li>
						<li><%= link_to "История балета", history_path %></li>
						<li><%= link_to "Партнеры", partners_path %></li>
						<li><%= link_to "Контакты", contacts_path %></li>
						<div class="span11" id="copyright">© 2000 – 2015 Classical Ballet Theatre</div>
					</ul>
				</div>
		</div>
	</div>
 </body>
</html>


